
@font-face 
{
    font-family: 'liberation_sansregular';
    src: url('../Fonts/liberation-sans/liberationsans-regular-webfont.woff2') format('woff2'),
         url('../Fonts/liberation-sans/liberationsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Section All */
.All
{
	width: 100%;
	height: auto;

	padding: 3% 0px;
	background: rgb(35, 52, 33);

	display: flex;
	justify-content: center;
}

/* Section AllFlyer */
.AllFlyer
{
	width: 60%;
	height: auto;
}

header, footer
{
	width: 100%;
	height: auto;

	padding: 4% 0px;
	background: rgb(34, 27, 27);

	display: flex;
	justify-content: space-around;
	align-items: center;
}

header > img
{
	width: 30%;
	max-width: 300px;
	height: auto;
}

footer
{
	font-size: 2.4em;
	color: rgb(255, 255, 255);

	background: rgb(34, 27, 27);
}

.InfosDate
{
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	margin: 0px 5px;
}

.InfosDate > h1
{
	font-size: 5em;
}

.InfosDate > h3
{
	font-size: 2.5em;
	align-self: flex-end;
}


/* Section MainContent */
.MainContent
{
	width: 100%;
	height: auto;
	color: rgb(255, 255, 255);

	padding: 2% 0px;
	background: url("../Imgs/Bg_Wallpaper.jpg") no-repeat center;
}

.MainContent
{
	width: 100%;
	height: auto;
	padding: 3% 0px;
}

.MainContent > h1
{
	text-align: center;
	font-size: 7em;
	color: rgb(208, 160, 95);
}

.MainContent > h2
{
	text-align: center;
	font-size: 2em;
	color: rgb(255, 255, 255);
}

.bannermail
{
	width: 100%
	height: auto;
	margin: 4% 0px;
	padding: 3.5% 0px;

	background: rgb(35, 52, 33);
	opacity: 0.7;
}

.bannermail > h3
{
	text-align: center;
	font-size: 2em;
}

.mail
{
	color: rgb(208, 160, 95);
	text-decoration: none;
	transition: 0.3s;
}

.mail:hover
{
	color: rgb(255, 0, 0);
	text-decoration: none;
	transition: 0.3s;
}

.InfosMail
{
	width: 100%
	height: auto;
	margin: 4% 0px;
	padding: 3.5%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Card
{
	width: 100%
	height: auto;

	padding: 3% 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	border: solid 2px rgb(255, 255, 255);

	font-size: 2em;
}

.Card1
{
	padding: 6% 6%;
}

.Card2
{
	padding: 4% 8%;
}

.Card > i
{
	font-size: 3em;
	margin:3% 2%;
}

.Card > h2 > span
{
	color: rgb(255, 0, 0);
}

.TarifsAndOther
{
	width: 100%;
	height: auto;

	padding: 2% 0px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	font-size: 2em;
	color: rgb(208, 160, 95);
}

@media only screen and (min-width: 250px) and (max-width: 1250px)
{

	header, .TarifsAndOther, footer
	{
		flex-direction: column;
		text-align: center;
	}

	.InfosDate > h3
	{
		align-self: center;
	}

	.MainContent > h1
	{
		font-size: 4em;
	}

	.bannermail > h3
	{
		font-size: 1.5em;
	}

	.MainContent > h2
	{
		font-size: 1.7em;
	}

	.InfosMail
	{
		flex-direction: column;
	}

	.TarifsAndOther
	{
		padding: 3% 0px;
		justify-content: center;
		align-content: center;
	}

	.ul1
	{
		align-self: center;
		margin-bottom: 5%;
		font-size: 1em;
	}

	.Card
	{
		width: 100%
		height: auto;

		padding: 3% 0px;
		margin-bottom: 4%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		border: none;

		font-size: 2em;
	}

	.Card > i
	{
		font-size: 3em;
		margin-bottom: 10%;
	}
}

body
{
	font-family: "liberation_sansregular";
	background: rgb(35, 52, 33);
}